<div class="container-fluid posters-image">
    <div class="container main-home">
      
            <p class="main-banner"><h2 class="text-center">Explore tickets and events</h2></p>


            <div class="row">

                <div class="col-sm-6 col-md-6" >
                    <div class="thumbnail" style="background-color:rgba(0, 0, 0, 0.3);">
                    <div class="caption" style="background-color:rgba(0, 0, 0, 0.3);">
                        <p class="text-center" style="color:white; font-size: 25px;">Events</p>
                        <p class="panel-desc text-center">Search attractions and experiences in your area.</p>
                        <p class="text-center">
                            <a href="events" class="btn btn-primary" role="button">Explore</a> 
                        </p>
                    </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail" style="background-color:rgba(0, 0, 0, 0.3);">
                    <div class="caption" style="background-color:rgba(0, 0, 0, 0.3);">
                        <p class="text-center" style="color:white; font-size: 25px;">Tickets</p>
                        <p class="panel-desc text-center">Book a ticket and start your journey !</p>
                        <p class="text-center">
                            <a href="tickets" class="btn btn-primary" role="button">Explore</a> 
                        </p>
                    </div>
                    </div>
                </div>

            </div

        </div>
    </div>
</div>
