<div class="container-fluid tickets-form-container">

    <h1 class="text-center">Editing Ticket</h1>

    <%= render 'form', ticket: @ticket %>

    <div class="tickets-edit-links">
        <button type="button" class="btn btn-default text-right"> <%= link_to 'Show', @ticket %> </button>
        <button type="button" class="btn btn-default text-right"> <%= link_to 'Back', tickets_path %> </button>
    </div>

</div>