// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posters-image {
  background-image: url("https://source.unsplash.com/6liebVeAfrY/");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-home {
    max-width: 1200px;
    color: white;
}

.events-index-container{
    background-image: url("/assets/wheat.png");
    min-height: 1000px;
}

.events-index {
    max-width: 1200px;
    
}

.event-details {
    max-width: 1200px;
    background-color: rgb(137, 66, 71);
    // color: #a7d129;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    color: white;
}

.panel-desc{
    color: white;
    font-size: 20px;
}

.main-banner{
    margin-top: 50px;
}

.back-button {
    position: absolute;
    right: 0;
    top:0;
}

.buy-ticket-event {
    max-width: 1200px;
    background-color: rgb(144, 100, 99);
    border-radius: 0px 0px 15px 15px;
}

.list-tickets-event {
    margin-top: 20px;
    max-width: 1200px;
    background-color: white;
    // border-radius: 0px 0px 15px 15px;
}